.env
.DS_Store
Back/node_modules/*
dist


# local env files
.env.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Back/.env
Back/node_modules/uuid/package.json
Back/node_modules/touch/package.json
Back/node_modules/semver/package.json
Back/node_modules/nopt/package.json
Back/node_modules/nodemon/package.json
Back/node_modules/mime/package.json
Back/node_modules/.package-lock.json
Back/node_modules/.bin/uuid
Back/node_modules/.bin/semver
Back/node_modules/.bin/nopt
Back/node_modules/.bin/nodetouch
Back/node_modules/.bin/nodemon
Back/node_modules/.bin/mime
